
.grocery-items {
	margin-bottom: 11px;
	padding: 4px 4px;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px dotted rgba(197, 197, 197, 0.800);
	&.last {
		margin-bottom: 40px !important;
	}
}

.content-wrapper.groceries-index {
	background-color:rgba(197, 197, 197, 1.000);
}	.white-box {
  height: 562px;
  background-color: white;
  border-radius: 18px 18px 0px 0px;
  padding: 20px;
} .message {
	margin-top: 90px;
	border-radius: 5px 5px;
	background-color: rgba(197, 197, 197, 0.300);
	padding: 5px 0px 5px 0px;
	margin: 0px 15px 0px 15px;
	opacity: 90%;
	text-align: center !important;
} .message p {
	font-size: 12px;
} .fas.fa-cart-arrow-down.show-icon.grocery {
	color: rgba(22, 128, 252, 1.000);
	font-size: 25px;
}

h1 {
	text-align: center;
	font-size: 2rem;
  font-family: 'Amatic SC', cursive;
  font-style: bold;
  color: white;
} h3 {
	font-style: bold;
	font-size: 14px;
} p {
	font-size: 15px;
}

