.home {
  h1 {
    font-size: 2rem;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 2rem;
  }
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: var(--wgreen);
    text-align: center;
  }
  .form-inline{
    justify-content: center;
  }

  #query {
    background: image-url("search-solid.svg") no-repeat scroll 7px 7px;
    padding-left:30px;
    background-size: 1.2rem;
    opacity: 0.85;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--wblue);
    background-color: white;
    background-clip: padding-box;
    border: 0;
    border-radius: 5px;
    width: 100%;
    margin-right: 10px;
    padding: 0;
    height: 2rem;
    text-align: center;

    #placeholder {
      color: var(--wblue);
    }
  }
  .research {
    display: flex;
    height: 39px;
    margin: 5px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .btn-blue {
    font-size: 0.75rem;
    font-family: 'Open Sans', sans-serif;
    padding: 0rem 0.5rem;
    height: 2rem;
    border-radius: 5px;
  }
}
.banner {
  linear-gradient: rgba(0,0,0,0.4),rgba(0,0,0,0.4);
  background-image: url('https://images.unsplash.com/photo-1552033931-d249575b5ac1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  height: 40%;
  background-size: cover;
  background-position: center;
}

.results {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;

}
