.container .recipe_show {
  margin: 0px;
  padding: 0px;
}

.recipe_show h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  color: var(--wgreen);
  text-align: center;

}

.recipe_show img {
  height: 50%;
  width: 100%;
  display: block;
  margin: 0px;
  padding: 0px;
}

#measures_list {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
}

#description {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

#favorite_icon {
  display: block;
  text-align: right;
  margin-right: 2rem;
}

.show-icon {
  color: var(--wblue);
  font-size: 1.5em;
}

.recipe-titles {
  padding-top: 10px;
  font-family: 'Amatic SC';
  font-size: 1.5em;
  margin: 0px;
  }
