<h4>Liste de courses</h4>

<% @groceries.each do |grocery| %>
  <p><input type="checkbox" id="groceries_item" value="listed">
    <label><i class="fas fa-cart-arrow-down"></i> </label>
      <%= measure.quantity %> <%= measure.ingredient.unit %> - <%= measure.ingredient.name %></p>
    <p></p>
<% end %>


<%= link_to "Retour", recipes_path %>
