.btn-blue {
  background-color: #14213D;
  color: #48A9A6;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #48A9A6;
}

.btn-blue:hover {
  border: solid 1px #14213D;
  color: #14213D;
  background-color: #48A9A6;
  transition: all 300ms ease-in-out;
}
