.btn-blue {
  background-color: var(--wblue);
  color: #ffffff;
  padding: 0.45rem;
  border-radius: 10px;
  border: solid 1px #ffffff;
}

.btn-blue:hover {
  border: solid 1px var(--wblue);
  color: var(--wblue);
  background-color: #ffffff;
  transition: all 300ms ease-in-out;
}
