a {
  text-decoration: none;
}

#recipes {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  width: 90%;

}

#favorite-icon a {
  display: block;
  float: right;
  padding: 15px;
}

.icon {
  color: white;
  padding: 2px;
  border-radius: 2px;
  font-size: 1.5em;
}

.card-rating {
  display: block;
  float: inline-end;
}

.rating {
  color: white;
  padding-left: 20px;
  padding-top: 60%;
  margin: 0;
}


.recipe-card {
  background-color: white;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-right: solid 1px powderblue;
  border-bottom: solid 1px powderblue;
  border-left: solid 1px powderblue;
  border-radius: 10px;
  box-shadow: 0px 0px 6px lightgray;
}

.recipe-card h2 {
  font-size: 1.7em;
  font-weight: bold;
  text-decoration: none;
  color: var(--wgreen);
  font-family: 'Amatic SC', cursive;
    a {
        text-decoration: none;
      }

}

.card-category {
  min-height: 200px;
  height: 250px;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}


.bot {
  padding: 10px;
}// Specific CSS for your home-page



