a {
  text-decoration: none;
}

#recipes {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  width: 80%;

}

#favorite-icon a {
  display: block;
  float: right;
  padding: 5px;
}

.icon {
  color: white;
  padding: 2px;
  border-radius: 2px;
  font-size: 1.5em;
}

.card-rating {
  display: block;
float: inline-end;
}


.recipe-card {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recipe-card h2 {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: var(--wgreen);
  font-family: 'Amatic SC', cursive;
    a {
        text-decoration: none;
      }
}

.card-category {
  min-height: 200px;
  height: auto;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}


.bot {
  padding : 10px;
}// Specific CSS for your home-page


.rating {
  color: white;
  padding: 10px;

}
