nav {
  color: #ce4760;
}

nav ul{
  list-style:none;
  display: block;
  padding: 0;
  margin: 0;

  li{
    margin-left: 0;
    padding-left: 0;
    //min-width: 13em;
    display:inline-block;
    width: 100%;

    a{
      color: #f6d0b1;
      font-size: 1,2em;
      padding: 1.05em 1em;
      position: relative;
      display:block;

      &:hover{
        text-decoration: none;
        color: #f6d0b1;
        background-color: #3772ff;
        @include transition(all 0.6s ease);
      }
    }
  }
}
