// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "devise_menu";
@import "btn-blue";
@import "dashboard_archive";
@import "content-wrapper";
@import "form";
@import "filters";
@import "colors";
@import "card-recipe";
@import "review";
@import "mesrecettes";
@import "form-recipe";
@import "pageheader";
@import "dashboard";

