.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: #3772ff;
}

li {
  display: inline-block;
  text-decoration: none;
}

a {
  color: #f6d0b1;
}

a:hover {
  text-decoration: none;
}
