.card-footer {
  position: fixed;
  bottom: 0;
  background-color: var(--wgreen);
  padding: 0.2rem 0.5rem;
  right: 0;
  left: 0;
  padding-bottom: 0.2rem;
}

.card-footer ul {
  justify-content: space-between;
}

.nav-link:focus {
  background-color: var(--wblue);
}


.nav-link {
  color: white;
  padding: 0.3rem 0.2rem;
}

.nav-link-active {
  color: var(--wblue);
}

.nav-link p {
  font-size: 0.75rem;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  font-family: arial;
  margin-top: 0.5rem;
}

.nav-pills {
  padding-top: 0;
}

