.card-footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  padding: 0.5rem 0.5rem;
  right: 0;
  left: 0;
}

.card-footer ul {
  justify-content: space-between;
}

.nav-link:focus {
  background-color: var(--wblue);
}

.nav-link {
  color: grey;
  padding: 0.5rem;
}

.nav-link-active {
  color: var(--wblue);
}

.nav-link p {
  font-size: 0.75rem;
  text-align: center;
  padding: 0,5rem;
  margin-bottom: 0;
  font-family: arial;
  margin-top: 0.5rem;
}
