.title-flexbox {
	display:flex;
	justify-content: center;	
	position: relative;	
}

.title-arrow {
	padding:0px 0px !important;
	position: absolute;
	left: 8px;
	bottom: 1px;
}

.title-bottom {
	border-bottom: solid var(--wlightgr);
}